.user-container-element {
    margin: 10px;
}
.user-container-row {
    display: table-row;
}

.user-container {
  display: table;
  table-layout: fixed ;
  width: 100% ;
}
.user-container-element {
    display: table-cell;
  width: 25% ;
}


