{% extends 'app/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/leki.css' %}">
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'js/usun_leki.js' %}"></script>
{% endblock %}
{% block content %}
{% verbatim %}
<div id="vue-przegladanie-lekow-app">
    <h1>Leki</h1>
    <hr>
    <input type="text" v-on:input="wyszukaj_leki()" class="leki-container-nazwa" id="search_name">
    <div class="leki-container-ilosc">
        Ilość:
    </div>
    <div class="leki-container-ilosc">
        <input type="number" v-on:input="change_amount()" id="amount">
    </div>
    <div class="leki-container">
        <div class="leki-container-row" id="naglowek">
            <div class="leki-container-element">Nazwa</div>
            <div class="leki-container-element">Substancja czynna</div>
            <div class="leki-container-element">Dawka</div>
            <div class="leki-container-element">Ilość</div>
            <div class="leki-container-element">Kraj pochodzenia</div>
        </div>
        <div v-for="lek in leki" class="leki-container-row">
            <div class="leki-container-element">{{lek.nazwa}}</div>
            <div class="leki-container-element">{{lek.substancja}}</div>
            <div class="leki-container-element">{{lek.dawka}}</div>
            <div class="leki-container-element">{{lek.ilosc}}</div>
            <div class="leki-container-element">{{lek.kraj}}</div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock content %}


class SubstancjaCzynna(models.Model):
    nazwa = models.CharField(max_length=30, null=False)


class Lek(models.Model):
    nazwa = models.CharField(max_length=30, null=False)
    kraj_pochodzenia = models.CharField(max_length=30, null=False)
    substancje_czynne = models.ManyToManyField(SubstancjaCzynna)


class Opakowanie(models.Model):
    ile_dawek = models.IntegerField(null=False)
    jednostka_dawki = models.IntegerField(null=False)
    lek = models.ForeignKey(Lek, on_delete=models.CASCADE)