{% extends 'app/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/uzytkownicy.css' %}">
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'js/uzytkownicy.js' %}"></script>
{% endblock %}
{% block content %}
{% verbatim %}
<div id="vue-users-app">
    <h1>Uzytkownicy</h1>
    <hr>
    <input type="text" v-on:input="search_user()" class="user-search" id="search_name">
    <div class="user-search-amount">
        Ilość:
    </div>
    <div class="user-search-amount">
        <input type="number" v-on:input="change_amount()" id="amount">
    </div>
    <div class="user-container">
        <div class="user-container-row" id="naglowek">
            <div class="user-container-element">Login</div>
            <div class="user-container-element">E-mail</div>
            <div class="user-container-element">Imię</div>
            <div class="user-container-element">Nazwisko</div>
            <div class="user-container-element"></div>
        </div>
        <div v-for="user in user" class="user-container-row">
            <div class="user-container-element">{{user.login}}</div>
            <div class="user-container-element">{{user.email}}</div>
            <div class="user-container-element">{{user.imie}}</div>
            <div class="user-container-element">{{user.nazwisko}}</div>
            <div class="user-container-element"></div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock content %}
