{% extends 'app/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/uzytkownicy.css' %}">
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'js/uzytkownicy.js' %}"></script>
{% endblock %}
{% block content %}
{% verbatim %}
<div id="vue-users-app">
    <h1>Uzytkownicy</h1>
    <hr>
    <input type="text" v-on:input="search_user()" class="user-search" id="search_name">
    <div class="user-search-amount">
        Ilość:
    </div>
    <div class="user-search-amount">
        <input type="number" v-on:input="change_amount()" id="amount">
    </div>
    <table class="user-container">
        <tr class="user-container-row" id="naglowek">
            <td class="user-container-element">Login</td>
            <td class="user-container-element">E-mail</td>
            <td class="user-container-element">Imię</td>
            <td class="user-container-element">Nazwisko</td>
            <td class="user-container-element"></td>
        </tr>
        <tr v-for="user in user" class="user-container-row">
            <td class="user-container-element">{{user.login}}</td>
            <td class="user-container-element">{{user.email}}</td>
            <td class="user-container-element">{{user.imie}}</td>
            <td class="user-container-element">{{user.nazwisko}}</td>
            <td class="user-container-element"></td>
        </tr>
    </table>
</div>
{% endverbatim %}
{% endblock content %}

<table>
<tr>
  <td>First column</td>
  <td>Second column</td>
  <td>Third column</td>
  <td>Fourth column</td>
</tr>
<tr>
  <td>More data for the first column</td>
  <td>More data for the second column</td>
  <td>More data for the third column</td>
  <td>More data for the fourth column</td>
</tr>
</table>